---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - ./db-secret.yaml
  - ./../../base
patches:
  - target:
      kind: Deployment
    patch: |-
      - op: remove
        path: /spec/template/spec/containers/0/securityContext
      - op: remove
        path: /spec/template/spec/containers/0/livenessProbe
      - op: remove
        path: /spec/template/spec/containers/0/resources
images:
  - name: applicationname-worker
    newName: registry:5000/applicationname-worker
    newTag: latest
  - name: applicationname-api
    newName: registry:5000/applicationname-api
    newTag: latest
  - name: applicationname-web
    newName: registry:5000/applicationname-web
    newTag: latest
