---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: applicationname-worker
  labels:
    app: applicationname-worker
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: applicationname-worker
  template:
    metadata:
      labels:
        app: applicationname-worker
      annotations:
        prometheus.io.scrape: 'true'
    spec:
      serviceAccountName: applicationname
      automountServiceAccountToken: false
      containers:
        - name: applicationname-worker
          image: applicationname-worker:latest
          securityContext:
            runAsNonRoot: true
            runAsUser: 10000
            runAsGroup: 20000
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            capabilities:
              drop:
                - all
          ports:
            - name: http
              containerPort: 8080
          env:
            - name: rabbitmq__host
              valueFrom:
                secretKeyRef:
                  name: '{{RABBITMQ-SECRET-NAME}}'
                  key: host
            - name: rabbitmq__username
              valueFrom:
                secretKeyRef:
                  name: '{{RABBITMQ-SECRET-NAME}}'
                  key: username
            - name: rabbitmq__password
              valueFrom:
                secretKeyRef:
                  name: '{{RABBITMQ-SECRET-NAME}}'
                  key: password
            - name: mongodb__connection-string
              valueFrom:
                secretKeyRef:
                  name: '{{MONGODB-SECRET-NAME}}'
                  key: connectionString.standard
          livenessProbe:
            httpGet:
              path: /healthz
              port: 8080
            initialDelaySeconds: 3
            periodSeconds: 3
          resources:
            limits:
              memory: 100Mi
              cpu: 100m
            requests:
              memory: 30Mi
              cpu: 10m
        - name: valkey
          image: valkey/valkey:9.0.0-alpine
          command:
            - valkey-server
            - /etc/valkey/valkey.conf
          securityContext:
            runAsNonRoot: true
            runAsUser: 999
            runAsGroup: 999
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: false
            capabilities:
              drop:
                - all
          ports:
            - name: valkey
              containerPort: 6379
          volumeMounts:
            - name: valkey-data
              mountPath: /data
            - name: valkey-config
              mountPath: /etc/valkey
          # resources:
          #   limits:
          #     memory: 128Mi
          #     cpu: 100m
          #   requests:
          #     memory: 64Mi
          #     cpu: 50m
      volumes:
        - name: valkey-data
          emptyDir: {}
        - name: valkey-config
          configMap:
            name: valkey-config
