---
apiVersion: v1
kind: Service
metadata:
  name: applicationname-worker
spec:
  selector:
    app: applicationname-worker
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: 8080
    - name: valkey
      protocol: TCP
      port: 6379
      targetPort: 6379
