---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - ./../../base
patches:
  - target:
      kind: HTTPRoute
    patch: |-
      - op: replace
        path: /spec/hostnames
        value:
          - applicationname.{{DOMAIN}}
images:
  - name: applicationname-worker
    newName: '{{REGISTRY}}/applicationname-worker'
    newTag: '{{IMAGE_TAG}}'
  - name: applicationname-api
    newName: '{{REGISTRY}}/applicationname-api'
    newTag: '{{IMAGE_TAG}}'
  - name: applicationname-web
    newName: '{{REGISTRY}}/applicationname-web'
    newTag: '{{IMAGE_TAG}}'