// table {
//   width: 100%;
// }

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
  background-color: rgba($color: #000000, $alpha: 0.1);
}
